.c1{
    height: 400px;
    width:100%;
}
.c2{
    width:25%;
    height:80px;
    float: left;
    margin: 0px;
}
.p1{
    color: orangered;
    width:100%;
    height:80px;
    font-size: larger;
    text-align: center;
    border: none;
}
.p1:hover{
    background-color: orangered;
    color: white;
}
.eq{
    background-color: orangered;
    color: white;
}
.eq:hover{
    background-color: white;
    color:orangered
}